extends ../page-layout

block content
  .row.mt-4
    //- Donation form
    .col-12.col-lg-6
      h3 Donate

      if total !== 0
        .alert.alert-info.mt-3
          | You have donated
          = ' '
          = totalFormatted
          = ' '
          | credits in total.
          = ' '
          strong Thank you!

      form.mt-3(action='/donate', method='POST')
        //- Anti-CSRF token
        input(type='hidden', name='_csrf', value=csrfToken)

        //- Amount field
        .mb-3
          label.form-label(for='donation-amount') Amount
          input#donation-amount.form-control(
            type='number',
            name='amount',
            required,
            min=0
          )

        //- Testimonial field
        .mb-3
          label.form-label(for='donation-testimonial') Testimonial
          textarea#donation-testimonial.form-control(
            name='testimonial',
            rows=3
          )

        //- Actions
        button.btn.btn-primary(type='submit') Donate

      //- Logout
      form.mt-3(action='/users/logout', method='POST')
        //- Anti-CSRF token
        input(type="hidden", name="_csrf", value=csrfToken)

        button.btn.btn-secondary.btn-sm(type='submit')
          i.bi.bi-box-arrow-right
          = " "
          | Log out
